@media( max-width: 1200px )
    .phone
        margin-left: 27px
        &_footer
            margin-left: 0
        a 
            font-size: 15px
    .nav 
        &__menu
            margin-left: 25px
        &__item
            font-size: 12px
    .header
        &__header
            font-size: 53px
        &__sub-header
            font-size: 29px
    .info
        &__text
            &_2
                font-size: 14px
        &_work
            img 
                width: 90%
    .agent
        &__header
            font-size: 20px
        &__text 
            font-size: 18px
    .prices
        &__wrapper
            margin: 0 auto
            margin-top: 37px  
        &__icon
            &::after, &::before
                width: 420px
        &-consultation
            &__separator
                width: 378px
            &__wrapper
               &::after, &::before
                bottom: 49%
    .scheme 
        &__wrapper
            .info 
                &:first-of-type
                    margin-left: 84px
    .footer 
        &__delivery 
            font-size: 14px
@media( max-width: 992px)
    .nav
        display: flex
        justify-content: space-between
        &__menu 
            display: none
    .header 
        top: 30px
        &__sup-header
            font-size: 23px
        &__header 
            font-size: 50px
            margin-top: 10px
    .hamburger
        display: block
        .nav 
            &__menu
                display: flex
    .prices
        form 
            input 
                width: 220px
        &__icon
            &::before, &::after 
                width: 300px
        &-consultation 
            &__separator
                width: 258px
    .scheme 
        &__wrapper 
            .info 
                &:first-of-type
                    margin-left: 25px
    .questions 
        &__wrapper 
            width: 90%
        &__form
            input 
                &:nth-of-type(3)
                    display: block
                    margin: 0 auto
                    margin-top: 10px
                &:last-of-type
                    width: 90%
    .footer 
        &__delivery
            font-size: 18px
            line-height: 21px
            margin-left: 15px
            margin-top: 15px
    .phone 
        &_footer
            margin-top: 15px
    .button
        &_footer
            margin-top: 15px
@media( max-width: 768px)
    .hamburger
        .nav
            position: absolute
            height: 100vh
            width: 70%
            background-color: rgba(0, 0, 0, 0.9)
            top: 0
            z-index: -1
            transform: translateX(-100%)
            transition: 0.3s all
            &__menu
                display: flex
                flex-direction: column
            &__item 
                display: block
                margin-top: 20px
                font-size: 35px
                &:hover
                    border: none
                &::after
                    display: none
            &_active
                transform: translateX(0%)
                transition: 0.5s all
    .header 
        min-height: 730px
        &__sup-header
            font-size: 18px
        &__header 
            font-size: 37px
        &__sub-header 
            font-size: 21px
    .advantages 
        .info 
            &:nth-of-type(2)
                margin-top: 35px
    .header-text
        font-size: 22px
    .subheader 
        font-size: 18px
    .work 
        .info_work 
            margin-bottom: 25px
            img 
                width: 80%
        .info__text_work 
            font-size: 17px
    .prices
        form 
            input 
                margin: 0
                width: 75%
                margin-top: 15px
        &__consultation 
            margin: 60px 0 20px 0
        &__icon
            &::before, &::after 
                width: 210px
        &-consultation
            &__separator 
                width: 165px
            &__wrapper 
                display: flex
                flex-direction: column
                input 
                    position: relative
                    left: 50%
                    transform: translateX(-50%)
                &::before, &::after 
                    bottom: 49.5%
                    height: 283px
    .questions 
        &__form 
            input 
                display: block
                margin: 0 auto
                width: 90%
                &:first-of-type
                    margin: 0 auto
                    margin-bottom: 10px
    .footer 
        &__delivery 
            margin-left: 42px
            font-size: 17px

