@media( max-width: 1200px )
    .phone
        margin-left: 27px
        &_footer
            margin-left: 0
        a 
            font-size: 15px
    .nav 
        &__menu
            margin-left: 25px
        &__item
            font-size: 12px
    .header
        &__header
            font-size: 53px
        &__sub-header
            font-size: 29px
    .info
        &__text
            &_2
                font-size: 14px
        &_work
            img 
                width: 90%
    .agent
        &__header
            font-size: 20px
        &__text 
            font-size: 18px
    .prices
        &__wrapper
            margin: 0 auto
            margin-top: 37px  
        &__icon
            &::after, &::before
                width: 420px
        &-consultation
            &__separator
                width: 378px
            &__wrapper
               &::after, &::before
                bottom: 49%
    .scheme 
        &__wrapper
            .info 
                &:first-of-type
                    margin-left: 84px
    .footer 
        &__delivery 
            font-size: 14px