.header 
    position: relative
    min-height: 680px
    padding-top: 23px
    background: url("../img/header_bg.jpg") center (center / cover) no-repeat
    &__text 
        margin-top: 10px
        text-align: center
    &__sup-header
        margin-bottom: 0
        font-size: 24px
        line-height: 24px
        font-weight: 300
        color: $sub-color
    &__header 
        margin-bottom: 0
        margin-top: 26px
        font-size: 60px
        line-height: 60px
        font-weight: bold
        color: $main-color
    &__sub-header
        font-size: 33px
        margin-top: 9px
        margin-bottom: 0
        line-height: 33px
        text-align: center
        color: $sub-color
    &__separator
        display: flex
        justify-content: center
        align-items: center
        margin-top: 38px
        margin-bottom: 27px
        hr 
            width: 390px
            height: 2px
            border-bottom: none
            border-left: none
            border-right: none
            color: $sub-color
    &__rectangle
        width: 8px
        height: 8px
        border-radius: 100%
        background-color: $sub-color
        margin: 0 10px 0 10px
