.header 
    min-height: 680px
    padding-top: 23px
    background: url("../img/header_bg.jpg") center (center / cover) no-repeat
    &__text
        display: block
        text-align: center
    &__sup-header
        font-size: 24px
        font-weight: 300
        color: $white
        margin-bottom: 0
    &__header 
        margin-top: 26px
        font-size: 60px
        line-height: 60px
        font-weight: bold
        color: $main-color
        margin-bottom: 0
    &__sub-header
        margin-top: 9px
        font-size: 34px
        line-height: 42px
        margin-bottom: 0
        color: $white
    &__separator
        margin-top: 38px
        display: flex
        align-items: center
        justify-content: center
        hr 
            width: 390px
            height: 0.5px
            background-color: $white
    &__rectangle
        height: 9px
        width: 9px
        background-color: $white
        border-radius: 100%
        margin: 0 10px 0 10px