.reviews
    min-height: 470px
    padding: 51px 0 65px 0
    position: relative
    &-prev, &-next 
        background-color: white 
        border: none
        transition: 0.2s all
        transform: scale(1)
        .active
            transition: 0.2s all
            transform: scale(0.5)
.wrapper  
    display: flex
    justify-content: space-between
    width: 210px  
    position: absolute
    bottom: 40%
    left: 50%
    transform: translate(-50%, -50%)
    