.slider
    margin: 0 258px
    &__item
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__text
        font-size: 14px
        font-weight: 300
        text-align: justify
        color: #3a3a3a
        span 
            display: block
            text-align: center
            font-size: 18px
            font-weight: bold