.slider
    position: relative
    &__item
        img 
            display: block
            margin: 0 auto
        &_passive
            transform: scale(0.5)
            opacity: 0.3
    &__text 
        font-size: 14px
        font-weight: 300
        text-align: justify
        color: #3a3a3a
        span 
            display: block
            text-align: center
            font-size: 18px
            font-weight: bold


 