.slider
    position: relative
    overflow: hidden
    &__inner 
        display: flex
        justify-content: center
        transition: 0.5s all
    &__wrapper 
        display: flex
        justify-content: center
    &__item
        width: 50%
        img 
            display: block
            margin: 0 auto 
    &__text 
        font-size: 14px
        font-weight: 300
        text-align: justify
        color: #3a3a3a
        span 
            display: block
            text-align: center
            font-size: 18px
            font-weight: bold
    &__arrows-wrapper  
        display: flex
        justify-content: space-between
        width: 210px  
        position: absolute
        bottom: 40%
        left: 50%
        transform: translate(-50%, -50%)
        img 
            width: 10%
            cursor: pointer
            transition: 0.2s all
        


 